<style>
    p {
        font-size: 14px;
    }

    .box {
        font-weight: bold;
    }

    /* Tunjuk p yang ada di dalam class box */
    .box p{
        color:blue;
    }

    .box .sample{
        background:yellow;
    }
</style>

<p>Ini paragraf.</p>

<p>Ini paragraf berteks tebal.</p>

<div class="box">
    Ini paragraf lain berteks biasa.
    <p>Ini contoh kalimat</p>

    <div class="sample">
        Sample
    </div>
</div>



