<style>
table{
    margin:0px;
    padding:0px;
    border:0px;
    border-collapse: collapse;
}

</style>
<table width="100%">
    <tr>
        <td colspan="2" height="100" style="background:red">
            1
        </td>
        <td colspan="2" style="background:blue">
            2
        </td>
        <td colspan="2" style="background:yellow">
            3
        </td>
    </tr>
    <tr valign="top">
        <td colspan="3" height="200" style="background:black">
            <b>4</b>
        </td>
        <td colspan="3" style="background:purple">
            <b>5</b>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="100" style="background:blue">
            <b>6</b>
        </td>
        <td colspan="2" style="background:blue">
            <b>7</b>
        </td>
        <td colspan="2" style="background:blue">
            <b>8</b>
        </td>
    </tr>
</table>