<ul>
    <li>
        Pakaian
        <ul>
            <li>Baju Renang</li>
            <li>
                Baju Renang
                <ul>
                    <li>Nganu</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<img src="1 jdkjdksaj" alt="deskripsi"/>