/* Navbar */
.navbar-bg {
  background-color: #c51162;
  padding: 15px;
}
.nav-item {
  margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #ccc;
}
/* Dropdown Menu */
.dropdown-menu {
  border-radius: 0px;
}

.jumbotron {
  margin-bottom: 0px;
}
/* Header Bottom */
.header-bottom {
  background-color: #34495e;
  height: 200px;
}

/* Footer */
.footer {
  background-color: #2c3e50;
  padding: 20px 20px 20px 18px;
  color: #ccc;
}
